@font-face {
    font-family: main-font;
    src: url(../fonts/BalooTammudu2-Regular.ttf);
}
  
@font-face {
    font-family: main-font;
    src: url(../fonts/BalooTammudu2-Bold.ttf);
    font-weight: bold;
}
  

body {
    font-family: main-font;
    background-color: #2D2D2D;
    color: #EAEAEA;
    
    line-height: 1.7;
}

input, select, textarea, button{font-family:inherit;}

.menu{
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #505050;
    padding: 10px 0px;
    line-height: 1;
}

.menu-name {
    color: #00B7AC;
    width: 25%;
    font-size: 28px;
    font-weight: bold;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
}

.menu-items {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 75%;
}

.menu-item {
    padding-top: 10px;
    font-size: 22px;
}

.menu-item:hover {
    cursor: pointer;
    color: #00B7AC;
    transition: 0.5s;
}

.init {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    padding: 15px;
}

.init .image img{
    width: 100%;
    max-width: 300px;
    min-width: 200px;
    border-radius: 1000px;
}

.init .description {
    padding: 50px;
    max-width: 700px;
    text-align: justify;
}

.experience-title-container {
    display: flex;
    justify-content: center;
}

.experience-title {
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 10px;
    color: #00B7AC;
    font-size: 35px;
    padding-left: 20px;
    padding-right: 20px;
    width: 1000px;
    max-width: 90%;
}

.experience-items {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.experience-item {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 900px;
}

.experience-item-divisor {
    display: flex;
    height: 100px;
}

.experience-item-divisor hr {
    border: 2px solid #00B7AC;
    border-radius: 2px;
}


.experience-item .year {
    margin: 10px 20px;
    font-size: 35px;
    font-weight: bold;
}

.experience-item .image img {
    margin: 10px 20px;
    width: 150px;
    border-radius: 1000px;
}

.experience-item .description {
    margin: 10px 30px;
    text-align: justify;
}

.experience-item .description .job-description {
    font-weight: bold;
    font-size: 18px;
}

.contact-title-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.contact-title {
    font-weight: bold;
    margin-top: 50px;
    color: #00B7AC;
    font-size: 35px;
    padding-left: 20px;
    padding-right: 20px;
    width: 1000px;
    max-width: 90%;
}

.contact-description {
    padding-left: 20px;
    padding-right: 20px;
    width: 1000px;
    max-width: 90%;
}

.contact .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.contact .form-item {
    width: 90%;
    max-width: 800px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.contact .form-item .label {
    font-weight: bold;
}

.contact .form-item .textfield {
    width: 100%;
    max-width: 800px;
    border-radius: 3px;
    background-color: #505050;
    outline: none;
    border: none;
    font-size: 18px;
    color: #EAEAEA; 
    padding-top: 10px;
}

.contact .form-item input {
    height: 30px;
    font-family: main-font;
}

.contact .form-item textarea {
    resize: none;
    height: 200px;
}

.contact .send-button {
    margin-top: 20px;
}

.contact .send-button button {
    width: 250px;
    height: 45px;
    border: none;
    border-radius: 3px;
    background-color: #00B7AC;
    color: #EAEAEA;
    font-family: main-font;
    font-size: 20px;
    cursor: pointer;
    padding-top: 5px;
    font-weight: bold;
}

@media(max-width: 768px){
    .menu{
       flex-direction: column;
       padding: 5px 0px;
    }
    .menu-name {
        width: 100%;
        text-align: center;
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 5px;
    }
    .menu-items {
        flex-direction: column;
        width: 100%;
    }
    .menu-item{
        margin: 3px 0px;
        padding-top: 0px;
    }

    .init {
        flex-direction: column;
        margin-top: 15px;
    }
    
    .init .image img{
        max-width: 300px;
    }
    
    .init .description{
        padding: 20px;
    }

    .experience-title {
        margin: 0px;
    }

    .experience-item {
        flex-direction: column;
    }

    .experience-item-divisor {
        height: 50px;
    }
    
}